html,
body {
    height: 100%;
    background-color: #E4EFFF;
}

.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}

.wrap > .container {
    padding: 70px 15px 20px;
}

.footer {
    height: 60px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    padding-top: 20px;
}

.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: /*"\e113"*/ "\e151";
}

a.desc:after {
    content: /*"\e114"*/ "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view th {
    white-space: nowrap;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

/* align the logout "link" (button in form) of the navbar */
.nav li > form > button.logout {
    padding: 15px;
    border: none;
}

@media(max-width:767px) {
    .nav li > form > button.logout {
        display:block;
        text-align: left;
        width: 100%;
        padding: 10px 15px;
    }
}

.nav > li > form > button.logout:focus,
.nav > li > form > button.logout:hover {
    text-decoration: none;
}

.nav > li > form > button.logout:focus {
    outline: none;
}

.navbar-bocconcini{
    background-color: #590B2D;
    border-color: #590B2D;
}

.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:hover, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .dropdown-menu>.active>a, .navbar-inverse .dropdown-menu>.active>a:hover {
    color: #ffffff;
    background-color: #5A1231;
}

.navbar-inverse .navbar-nav > li> a:hover,  .navbar-inverse .dropdown-menu > li> a:hover{
    color: #ffffff;
    background-color: #5A1231;
}

.navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:hover, .navbar-inverse .navbar-nav>.open>a:focus {
    background-color: #5A1231;
    color: #ffffff;
}

.navbar-inverse .dropdown-menu{
    background-color: #590B2D;
}

.bocconcini-product, .bocconcini-profile, .bocconcini-categoria{
    background-color: #F5F5F5;
    padding-top: 20px;
    padding-bottom: 20px;
    border: 1px solid #dddddd;
    border-radius: 3px;
}

.bocconcini-product-item{
    background-color: #F5F5F5;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 20px;
    border: 1px solid #dddddd;
    border-radius: 3px;
    height: 450px;
}

.label-product{
    text-align: right;
}
.item-value{
    text-align: justify;
}

.carousel-control.left, .carousel-control.right {
    background-image: none
}

.title-profile, .title-product, .title-banners{
    text-align: center;
}

.center{
    text-align: center;
}

.thumbnail {
    padding:0px;
}
.panel {
    position:relative;
}
.panel>.panel-heading:after,.panel>.panel-heading:before{
    position:absolute;
    top:11px;left:-16px;
    right:100%;
    width:0;
    height:0;
    display:block;
    content:" ";
    border-color:transparent;
    border-style:solid solid outset;
    pointer-events:none;
}
.panel>.panel-heading:after{
    border-width:7px;
    border-right-color:#f7f7f7;
    margin-top:1px;
    margin-left:2px;
}
.panel>.panel-heading:before{
    border-right-color:#ddd;
    border-width:8px;
}

.bigsale{
    height: 100px;
    margin-bottom: -50px;
    position: absolute;
}

.img-producto {
    margin-top: 50px;
    border-radius: 3%;
}

.label-linkproduct, .label-linkproduct:hover{

    color: #590B2D;
    font-weight: bold;
}

.label-price {
    font-size: 40px;
    color: #006687;
    font-weight: bold;
}

.label-productname{
    font-weight: bold;
    color: #590B2D;
}

.carousel-control, .carousel-control:hover, .carousel-control:focus{
    color: #590B2D;
}

#topnavbar {
    margin: 0;
}
#topnavbar.affix {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;
}

#banner {
    width: 100%;
}

@media (max-width: 3000px){
    .banner-menu{background-size: cover; background-repeat: no-repeat; height: 200px;}
}

.link-bannermenu{
    background-color: #F5F5F5;
    opacity: 0.7;
    border: 1px solid #dddddd;
    padding: 5px;
    border-radius: 5px;
}

.link-bannermenu > a, .link-bannermenu > a:hover{
    text-decoration: none;
}

.red-social, .red-social > a{
    background-color: #F5F5F5;
    opacity: 0.7;
    border: 1px solid #dddddd;
    padding: 5px;
    border-radius: 50%;
    font-size: 24px;
    text-decoration: none;
    padding-left: 12px;
    padding-right: 12px;
    color: #590B2D;
    margin-right: 3px;
}

.red-social:hover, .red-social > a:hover, .red-social > a:focus{
    background-color: #590B2D;
    opacity: 0.7;
    border: 1px solid #F5F5F5;
    padding: 5px;
    border-radius: 50%;
    font-size: 24px;
    text-decoration: none;
    padding-left: 12px;
    padding-right: 12px;
    color: white;

}


/** Menu Css **/
.navbar-nav>li>.dropdown-menu {
    margin-top: 20px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

.navbar-default .navbar-nav>li>a {
    width: 200px;
    font-weight: bold;
}

.mega-dropdown {
    position: static !important;
    width: 100%;
}

.mega-dropdown-menu {
    padding: 20px 0px;
    width: 100%;
    box-shadow: none;
    -webkit-box-shadow: none;
}

.mega-dropdown-menu:before {
    content: "";
    border-bottom: 15px solid #fff;
    border-right: 17px solid transparent;
    border-left: 17px solid transparent;
    position: absolute;
    top: -15px;
    left: 285px;
    z-index: 10;
}

.mega-dropdown-menu:after {
    content: "";
    border-bottom: 17px solid #ccc;
    border-right: 19px solid transparent;
    border-left: 19px solid transparent;
    position: absolute;
    top: -17px;
    left: 283px;
    z-index: 8;
}

.mega-dropdown-menu .row > li > ul {
    padding: 0;
    margin: 0;
}

.mega-dropdown-menu .row > li > ul > li {
    list-style: none;
}

.mega-dropdown-menu .row > li > ul > li > a {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: normal;
    line-height: 1.428571429;
    color: #E4EFFF;
    white-space: normal;
    text-align: center;
}

.mega-dropdown-menu .row > li ul > li > a:hover,
.mega-dropdown-menu .row > li ul > li > a:focus {
    text-decoration: none;
    color: #E4EFFF;
    text-align: center;
}

.mega-dropdown-menu .row .dropdown-header{
    color: white;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
}

.mega-dropdown-menu form {
    margin: 3px 20px;
}

.mega-dropdown-menu .form-group {
    margin-bottom: 3px;
}

.heart-favorite, .heart-favorite > a{
    background-color: #F5F5F5;
    opacity: 0.7;
    border: 1px solid #dddddd;
    padding: 3px 6px 0px 5px;
    border-radius: 50%;
    font-size: 18px;
    text-decoration: none;
    color: #590B2D;
    margin-right: 3px;
}

.heart-favorite:hover, .heart-favorite > a:hover, .heart-favorite:focus, .heart-favorite > a:focus{
    background-color: #590B2D;
    opacity: 0.7;
    border: 1px solid #F5F5F5;
    padding: 3px 6px 0px 5px;
    border-radius: 50%;
    font-size: 18px;
    text-decoration: none;
    color: white;
}

.inventory-totals{
    font-size: 24px;
    font-weight: bold;
    color: #590B2D;
}

.item-agotado{
    font-size: 40px;
    color: #590B2D;
    font-weight: bold;
}

/**MENU FLOTANTE**/
#sidebar-wrapper {
    margin-right: -250px;
    right: 0;
    width: 250px;
    background: rgb(0,0,0);
    position: fixed;
    height: 100%;
    overflow-y: auto;
    z-index: 1000;
    transition: all 0.5s ease-in 0s;
    -webkit-transition: all 0.5s ease-in 0s;
    -moz-transition: all 0.5s ease-in 0s;
    -ms-transition: all 0.5s ease-in 0s;
    -o-transition: all 0.5s ease-in 0s;
}

.sidebar-nav {
    position: absolute;
    top: 0;
    width: 250px;
    list-style: none;
    margin: 0;
    padding: 0;
}

.sidebar-nav li {
    line-height: 35px;
    text-indent: 20px;
}

.sidebar-nav li a {
    color: #999999;
    text-decoration: none;
}

.sidebar-nav li a:hover {
    color: #fff;
    text-decoration: none;
}

.sidebar-nav li a:active, .sidebar-nav li a:focus {
    text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
    height: 55px;
    line-height: 55px;
    font-size: 18px;
    color: #999999;
}

.sidebar-nav > .sidebar-brand a, .sidebar-nav > li > label {
    color: #999999;
}
.sidebar-nav > .sidebar-brand a i {
    font-size: 24px;
}

.sidebar-nav > .sidebar-brand a:hover {
    color: #fff;
    background: none;
}

#menu-toggle {
    top: 120px;
    right: 0;
    position: fixed;
    z-index: 1;
}

#sidebar-wrapper.active {
    right: 250px;
    width: 250px;
    transition: all 0.5s ease-out 0s;
    -webkit-transition: all 0.5s ease-out 0s;
    -moz-transition: all 0.5s ease-out 0s;
    -ms-transition: all 0.5s ease-out 0s;
    -o-transition: all 0.5s ease-out 0s;
}

.toggle {
    margin: 5px 5px 0 0;
}

.btn-bocconcini,.btn-bocconcini:focus,.btn-bocconcini:active{
    color: white;
    background-color: #590B2D;
    border-color: #590B2D;
}